<div #messageList class="flexbox-item-grow fill-area fill-area-content messages list">
  <div *ngIf="!(initiallyLoaded$ | async) && (loading$ | async) && (page$ | async) == 0" class="loader">
    <mat-spinner></mat-spinner>
  </div>

  <mat-list>
    <button
      *ngIf="(initiallyLoaded$ | async) && !(noPagesLeft$ | async)"
      mat-raised-button
      (click)="loadNextPage()"
      [disabled]="loading$ | async"
      class="load-more-button"
    >
      <mat-spinner
        *ngIf="loading$ | async"
        [diameter]="22"
        [strokeWidth]="2"
        class="in-button-spinner"
      ></mat-spinner>

      LOAD MORE
    </button>

    <div *ngFor="let message of messages$ | async; trackBy: trackById" class="message-row">
      <message-list-entry
        (menuOpened)="menuOpen = true"
        (menuClosed)="menuOpen = false"
        (onDelete)="delete($event)"
        (onUpdate)="update($event)"
        [menuOpen]="menuOpen"
        [message]="message"
        [admin]="admin$ | async"
      ></message-list-entry>
    </div>
  </mat-list>
</div>

<message-input></message-input>
