.notification
  background: #03a9f4
  color: white
  padding: 15px

meditation.hidden, question.hidden, message.hidden
  display: none !important

.tabs .highlight /deep/ .mat-button-focus-overlay
  opacity: 1

.hide-labels /deep/ .mat-tab-labels
  display: none

.component-separator
  margin-top: 10px

/deep/ .mat-badge-medium.mat-badge-after .mat-badge-content
  background: white
  color: #009688
  right: -25px

@media (max-width: 599px)
  .mat-toolbar-row, .mat-toolbar-single-row
    height: 64px

@media screen and (max-width: 359px)
  .tabs [mat-button]
    font-size: 10px

@media screen and (min-width: 360px)
  .tabs [mat-button]
    font-size: 13px

@media screen and (min-width: 380px)
  .tabs [mat-button]
    font-size: 14px

.disabled-message
  text-align: center
  padding-top: 15px

.tab-indicator
  vertical-align: top
