<div class="app-wrapper">
  <div class="flexbox-parent">
    <mat-sidenav-container class="flexbox-parent">
      <mat-sidenav #start>
        <mat-toolbar color="primary">
          Menu
          <small class="version-number">{{ version$ | async }}</small>
          <span class="fill"></span>
          <button mat-icon-button (click)="start.close()">
            <mat-icon class="icon-fix">close</mat-icon>
          </button>
        </mat-toolbar>

        <mat-nav-list>
          <!-- Navigation items go here -->

          <a [routerLink]="['/']" (click)="start.close()" mat-list-item>
            <mat-icon>home</mat-icon> Home
          </a>
          <a *ngIf="(admin$ | async)" [routerLink]="['/admin']" (click)="start.close()" mat-list-item>
            <mat-icon>settings</mat-icon> Administration
          </a>
          <a *ngIf="(userId$ | async)" [routerLink]="['/profile/id', (userId$ | async)]" (click)="start.close()" mat-list-item>
            <mat-icon>account_circle</mat-icon> Profile
          </a>
          <a [routerLink]="['/schedule']" (click)="start.close()" mat-list-item>
            <mat-icon>schedule</mat-icon> Schedule
          </a>
          <a [routerLink]="['/meet']" (click)="start.close()" mat-list-item>
            <mat-icon>call</mat-icon> Appointment Meeting
          </a>
          <a [routerLink]="['/commit']" (click)="start.close()" mat-list-item>
            <mat-icon>assignment_turned_in</mat-icon> Commitment
          </a>
          <a target="_blank" href="https://www.sirimangalo.org/text/how-to-meditate/" mat-list-item>
            <mat-icon>picture_as_pdf</mat-icon> Booklet <mat-icon class="smaller-icon">launch</mat-icon>
          </a>
          <a [routerLink]="['/testimonials']" (click)="start.close()" mat-list-item>
            <mat-icon>thumb_up</mat-icon> Testimonials
          </a>
          <a [routerLink]="['/live']" (click)="start.close()" mat-list-item>
            <mat-icon>live_tv</mat-icon> Live Stream
          </a>
          <a target="_blank" href="https://gitlab.com/sirimangalo/meditation-plus/wikis/home" mat-list-item>
            <mat-icon>help</mat-icon> Help <mat-icon class="smaller-icon">launch</mat-icon>
          </a>
          <a (click)="start.close(); logout()" *ngIf="(userId$ | async)" mat-list-item>
            <mat-icon>power_settings_new</mat-icon> Logout
          </a>
        </mat-nav-list>

      </mat-sidenav>
      <mat-toolbar class="static-toolbar" color="primary">
        <div class="mat-toolbar-single-row navbar">
          <button mat-icon-button (click)="start.open()" *ngIf="(userId$ | async)">
            <mat-icon>menu</mat-icon>
          </button>
          <button *ngIf="(connectionProblems$ | async)" mat-icon-button class="fill" (click)="reload()">
            <mat-icon>sync_disabled</mat-icon>
            Connection problems
          </button>
          <span *ngIf="!(title$ | async) && !(connectionProblems$ | async)" class="fill">{{ name }}</span>
          <span *ngIf="(title$ | async) && !(connectionProblems$ | async)" class="fill">{{ title$ | async }}</span>
          <online *ngIf="(userId$ | async)" [detailed]="false" title="See who is online"></online>
        </div>
      </mat-toolbar>

      <!-- Content goes here -->
      <router-outlet></router-outlet>

    </mat-sidenav-container>
  </div>
</div>
