<button
  mat-fab
  color="accent"
  [routerLink]="['new']"
>
  <mat-icon>add</mat-icon>
</button>

<div class="appointment-settings">
  <mat-form-field class="timezone-select">
    <mat-select
      [(ngModel)]="timezone"
      (selectionChange)="updateSettings('appointmentsTimezone', timezone)"
      name="timezone"
      placeholder="Timezone"
    >
      <mat-option *ngFor="let tzone of timezones" [value]="tzone">
        {{ tzone }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox class="mat-checkbox-confirm" [(ngModel)]="confirmDeletions">
    Warn before deleting an appointment</mat-checkbox>

  <mat-slide-toggle
    [(ngModel)]="disabled"
    (ngModelChange)="submitDisabledDates(disabled, '', '')">
      Disable appointments</mat-slide-toggle>
</div>

<div class="disable-appointments" *ngIf="disabled">
  <div>
    <mat-form-field class="fill datetime">
      <input
        matInput
        [(ngModel)]="dateFrom"
        name="dateFrom"
        required
        placeholder="Date from (i.e. 10/10/2020)"
        type="date"
      >
    </mat-form-field>
    <mat-form-field class="fill datetime">
      <input
        matInput
        [(ngModel)]="dateTo"
        name="dateTo"
        required
        placeholder="Date to (i.e. 10/10/2020)"
        type="date"
      >
    </mat-form-field>
    <button
      mat-raised-button
      mat-button type="submit"
      color="primary"
      type="submit"
      [disabled]="!dateFrom || !dateTo || (posting$ | async)"
      (click)="submitDisabledDates(disabled, dateFrom, dateTo)"
      >
      Submit
    </button>
  </div>
  <div>
    <b *ngIf="disableAppointmentsError" class="error">{{ disableAppointmentsError }}</b>
  </div>
</div>

<div class="appointment-list">
  <mat-card *ngFor="let hour of keys">
    <button
      mat-raised-button
      mat-button
      class="edit"
      (click)="toggleEdit(hour)"
    >
      <mat-icon>edit</mat-icon> Edit
    </button>

    <button
      mat-raised-button
      mat-button
      class="delete"
      color="warn"
      (click)="toggleDay($event, hour, -1)"
    >
      <mat-icon>delete</mat-icon> Delete
    </button>

    <mat-card-title>
      {{ hour | formatHour }} {{ zoneName }}
      <small *ngIf="appointments.get(hour).status === 'loading'">Loading...</small>
      <mat-icon *ngIf="appointments.get(hour).status === 'success'" class="success">check</mat-icon>
      <mat-icon *ngIf="appointments.get(hour).status === 'error'" class="error">clear</mat-icon>
    </mat-card-title>

    <mat-card-subtitle *ngIf="appointments.get(hour).errorMessage" class="error">
      {{ appointments.get(hour).errorMessage }}
    </mat-card-subtitle>

    <form *ngIf="appointments.get(hour).status === 'editing'" (submit)="updateHour($event, hour, newHour.value)">
      <mat-form-field>
        <input
          #newHour
          matInput
          name="hour"
          required
          placeholder="Time (i.e. 10:10)"
          type="time"
          [value]="formatHour(hour)"
        >
      </mat-form-field>
      <button mat-raised-button mat-button type="submit" [disabled]="!newHour.value || appointments.get(hour).status === 'editLoading'" title="Update">
        <mat-icon *ngIf="appointments.get(hour).status !== 'editLoading'">send</mat-icon>
        <mat-spinner *ngIf="appointments.get(hour).status === 'editLoading'" [diameter]="22" [strokeWidth]="2" class="in-button-spinner"></mat-spinner>
        Save
      </button>
    </form>

    <mat-card-content class="time-wrapper">
      <div *ngFor="let day of weekdays; let i = index" (click)="toggleDay($event, hour, i)">
        <mat-checkbox
          [checked]="appointments.get(hour).days.includes(i)"
        >{{ weekdays[i] }}</mat-checkbox>
      </div>
    </mat-card-content>

    <div class="clearfix"></div>
  </mat-card>
</div>
