<h1 mat-dialog-title>Are you sure you want to delete your account?</h1>

<div mat-dialog-content>
  <p>All data associated with your account will be removed permanently. This cannot be undone.</p>
  <p>Please enter "<b>delete</b>" to confirm:</p>

  <mat-form-field>
    <input matInput type="text" #confirm placeholder="Please confirm">
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button
    color="warn"
    type="button"
    mat-raised-button
    [disabled]="confirm.value !== 'delete'"
    (click)="dialogRef.close(true)">OK</button>

  <button
    type="button"
    mat-button
    (click)="dialogRef.close()">Cancel</button>
</div>