.load-more-button
  display: block
  margin: auto
  margin-top: 5px
  margin-bottom: 5px

.message-row /deep/ mat-list-item /deep/ h3
  margin-top: 5px

.message-row /deep/ mat-list-item /deep/ .mat-list-item-content
  min-height: 72px
  height: auto !important
  position: relative
  -webkit-box-align: flex-start
  -ms-flex-align: flex-start
  align-items: flex-start

.message-row /deep/ mat-list-item /deep/ .mat-list-text
  min-height: 72px
  padding-top: 10px
  padding-bottom: 10px

.message-row
  flex: 1

.messages
  height: 300px
  overflow-y: scroll
  overflow-x: hidden

.message-divider
  margin-right: -5px
  margin-left: -5px

.messages>div:last-child .message-divider
  display: none

.vertical-separator
  margin-left: 5px
  margin-right: 5px

.vertical-separator > div
  width: 1px
  height: 40px

.new-meeting
  text-align: center
  font-weight: bold
  padding-top: 50px
  border-bottom: 4px solid #009688;
