<mat-card *ngIf="(meeting$ | async)">
  <mat-card-title>
    Meeting with {{ (meeting$ | async).user.name }}
  </mat-card-title>
  <mat-card-content>
    <h3>Please go to <a href="https://hangouts.google.com/" target="_blank" style="color: blue;">Hangouts <mat-icon>open_in_new</mat-icon></a> and make a call to <i>yuttadhammo@gmail.com</i></h3>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button href="https://gitlab.com/sirimangalo/meditation-plus/wikis/Appointments" target="_blank">
      <span>Help</span>
      <mat-icon>open_in_new</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>

<div #messageList class="flexbox-item-grow fill-area fill-area-content messages list">
  <div *ngIf="!(initiallyLoadedChat$ | async) && (loadingChat$ | async) && (page$ | async) == 0" class="loader">
    <mat-spinner></mat-spinner>
  </div>

  <mat-list>
    <button
      *ngIf="(initiallyLoadedChat$ | async) && !(noPagesLeft$ | async)"
      mat-raised-button
      (click)="loadNextPage()"
      [disabled]="loading$ | async"
      class="load-more-button"
    >
      <mat-spinner
        *ngIf="loading$ | async"
        [diameter]="22"
        [strokeWidth]="2"
        class="in-button-spinner"
      ></mat-spinner>
      LOAD MORE
    </button>

    <div *ngFor="let message of messages$ | async; trackBy: trackById;" class="message-row">

      <!-- Separator for new meeting -->
      <div *ngIf="message.meeting && message.meeting.createdAt" class="new-meeting">
        {{ formatMeetingDate(message.meeting) }}
         with
         <span *ngIf="message.user">{{ message.meeting.user.name }}</span>
      </div>

      <message-list-entry
        (menuOpened)="menuOpen = true"
        (menuClosed)="menuOpen = false"
        (onDelete)="delete($event)"
        (onUpdate)="update($event)"
        [menuOpen]="menuOpen"
        [message]="message"
        [admin]="admin$ | async"
      ></message-list-entry>
    </div>
  </mat-list>
</div>

<message-input *ngIf="(meeting$ | async)" [meetingId]="(meeting$ | async)._id"></message-input>
