<user-text-list-entry
  long-press
  (click)="showMenu()"
  [class.menu-open]="localMenuOpen"
  [user]="message.user"
  [date]="message.createdAt"
  [text]="(admin || !message.deleted) ? message.text : ''"
  [id]="'message-' + message._id"
  [edited]="message.edited && !message.deleted"
>
  <button class="hide" [mat-menu-trigger-for]="menu"></button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      (click)="edit()"
      [disabled]="editDone()"
    > Edit </button>
    <button mat-menu-item (click)="delete()"> Delete </button>
    <button mat-menu-item (click)="closeMenu()"> Close </button>
  </mat-menu>
  <p mat-line *ngIf="message.deleted">
    <span
      *ngIf="message.deleted"
      class="chat-text chat-text-deleted"
    >
      <em>This message has been deleted.</em>
    </span>
  </p>
</user-text-list-entry>


<mat-divider class="message-divider"></mat-divider>
